streamlit>=1.33.0

python-dotenv>=1.0.1

openai>=1.30.0

requests>=2.31.0

streamlit-mic-recorder>=0.0.4

gTTS>=2.5.1

Pillow>=9.5.0

langdetect>=1.0.9

pypinyin>=0.49.0

hangul-romanize>=0.1.0

eng-to-ipa>=0.0.2

pycantonese>=4.0.0

tiktoken>=0.7.0
