streamlit>=1.33.0
python-dotenv>=1.0.1
openai>=1.13.3

gTTS>=2.5.1
langdetect>=1.0.9

pypinyin>=0.49.0
hangul-romanize>=0.1.0
eng-to-ipa>=0.0.2
pycantonese>=4.0.0

tiktoken>=0.6.0
pandas>=2.2.2
numpy>=1.26.4
